$primary: #2a9d8f;
$bg: #f0f0f3;
$box_shadow_concave: inset -10px -10px 10px #ffffff70, inset 10px 10px 10px #aeaec020;
$box_shadow_flat: -10px -10px 30px #fff, 10px 10px 30px #aeaec040;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: $bg;
  letter-spacing: 0.5px;
  max-width: 100%;
  overflow-x: hidden;
}

.row {
  padding-top: 15px;
}

.card-header {
  font-weight: bold;
}

i {
  color: $primary;
  font-size: 20px;
}

.navbar-inner {
  background: transparent;
}

a {
  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

.nav-logo {
  width: 30px;
}

.reveal {
  opacity: 0;
  transform: translateY(30px);
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 1s;
}

.reveal-2 {
  transition-delay: 0.3s;
}

.reveal-3 {
  transition-delay: 0.6s;
}

.flip-card {
  background: $bg;
  box-shadow: $box_shadow_concave;
  height: 190px;
  width: 500px;
  padding: 25px;
  border-radius: 10px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  margin: 0 auto;
  position: absolute;
  width: 100%;
  height: 90%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-back {
  transform: rotateY(180deg);
  background-color: $bg;
}

.flip-card-front img {
  height: 60%;
  margin-top: 50px;
}

.flip-card-back p {
  margin-top: 10px;
}

.dropdown-menu{
  background-color: $bg;
  :hover{
    background-color: $primary;
    color: $bg;
  }
}

@media only screen and (max-width: 767px) {
  .card {
    margin-bottom: 10px;
  }
}