@import "_commun.scss";

.buttons {
  display: flex;
  text-align: center;
  align-items: center;
}

i {
  font-size: 22px;
}

.projets-cards {
  h5 {
    color: #5c5c5c;
    font-weight: bold;
  }
  box-shadow: $box_shadow_concave;
  background-color: $bg;
  border-radius: 15px;
  padding: 25px;
  width: 500px;
}

button:focus {
  box-shadow: none;
  outline: none;
}

p {
  color: #5c5c5c;
  font-size: 20px;
}

.image {
  width: 150px;
  box-shadow: $box_shadow_concave;
  padding: 10px;
  border-radius: 50%;
}

.competences-label {
  margin: 0;
  margin-top: 10px;
}

.text-center {
  margin-top: 10px;
}

h1 {
  font-size: 2.3rem;
  color: #474747;
  font-weight: bold;
}

h2 {
  text-align: center;
  color: #474747;
  font-size: 35px;
  margin-bottom: 20px;
}

.blue {
  color: $primary;
}

.card-row > .row {
  margin-top: 50px;
}

.card-row {
  margin-top: 5%;
}

.primary-button {
  border: none;
  background-color: $primary;
  width: 150px;
  height: 48px;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 10px;
  color: #fff;
}

h3 {
  text-align: center;
  font-weight: bold;
  font-size: 23px;
  color: #474747;
}

.contact {
  margin-right: 15px;
}

img {
  width: 300px;
}

#first {
  min-height: 100vh;
}

#second {
  margin-top: 50px;
}

.svg {
  display: block;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#second > .row {
  margin-bottom: 10%;
}

.check {
  height: 20px;
  width: 20px;
}

.formation_table {
  box-shadow: $box_shadow_flat;
  border-radius: 15px;
  padding: 20px;
  .table {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

.card-competence {
  background: $bg;
  box-shadow: $box_shadow_concave;
  flex: 1 0 30%;
  margin: 15px;
  text-align: center;
  height: 150px;
  width: 200px;
  border-radius: 10px;
  img {
    height: 80px;
    width: 100%;
    padding-top: 10%;
  }
  p {
    color: #a9aaaf;
    font-weight: bold;
    padding-top: 15px;
    font-size: 20px;
  }
}

.fas {
  right: 10%;
}

.competence-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.reveal {
  opacity: 0;
  transform: translateY(30px);
}

.reveal-icons {
  i {
    font-size: 0px;
  }
  opacity: 0;
  height: 0;
  transform: translateY(30px);
}

.disapear {
  transform: translateY(-30px);
  opacity: 0;
  transition: 1s;
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 1s;
}

@media only screen and (max-width: 991px) {
  #first > .row > .col-lg-8,
  .col-lg-4 {
    text-align: center;
  }
  .buttons {
    justify-content: center;
  }
  .svg {
    width: 100%;
  }
}

@media only screen and (min-width: 991px) {
  .triangle_wrapper {
    margin-top: 100px;
  }

  .triangle {
    animation: yourAnimation 3s infinite 0s linear;
    margin: 0 auto;
    display: block;
    height: 0;
    width: 0;
    border-top: 50px solid #e76f51;
    border-right: 29px solid transparent;
    border-left: 21px solid transparent;
  }
  @keyframes yourAnimation {
    0% {
      transform: translateY(0px);
    }
    25% {
      transform: translateY(5px);
    }
    50% {
      transform: translateY(10px);
    }
    75% {
      transform: translateY(5px);
    }
    100% {
      transform: rotate(xx) translateY(0px);
    }
  }
  .reveal-2 {
    transition-delay: 0.3s;
  }

  .reveal-3 {
    transition-delay: 0.6s;
  }
}

@media only screen and (max-width: 991px) {
  .projets-cards {
    width: 100%;
    margin-top: 50px;
  }
}


// Button

.c-button {
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
  width: 150px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.c-button--gooey {
  color: $primary;
  font-size: 1rem;
  border: 4px solid $primary;
  position: relative;
  transition: all 700ms ease;
  border-radius: 5px;
  .c-button__blobs {
    height: 100%;
    filter: url(#goo);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    z-index: -1;
    div {
      background-color: $primary;
      width: 34%;
      height: 100%;
      border-radius: 100%;
      position: absolute;
      transform: scale(1.4) translateY(125%) translateZ(0);
      transition: all 700ms ease;
      &:nth-child(1) {
        left: -5%;
      }
      &:nth-child(2) {
        left: 30%;
        transition-delay: 60ms;
      }
      &:nth-child(3) {
        left: 66%;
        transition-delay: 25ms;
      }
    }
  }
  &:hover {
    color: $bg;
    .c-button__blobs {
      div {
        transform: scale(1.4) translateY(0) translateZ(0);
      }
    }
  }
}

.apple{
  width: 24px;
}

#first > .first-message{
  margin-top: 25px;
  width: 80%;
  height: 220px;
  display: flex;
  align-items: center;
  box-shadow: $box_shadow_flat;
  border-radius: 25px;
  padding-left: 15px;
}

.text{
  width: max-content;
  padding: 15px;
}